/* Resetando o css */

@import "./utils/reset.css";

/* Importando componentes */

@import "./utils/components.css";

/* Layout */

@import "./utils/header.css";
@import "./utils/main.css";
@import "./utils/modal.css";

@import "./utils/responsive.css";

/* Import Animations */

@import "./utils/aos.css";
