/* Variáveis */

:root {
  /* Color Style */
  --color-primary: #fff;
  --color-secondary: #000;
  --color-tertiary: #ddd;
  --color-purple: #9400d3;
  --color-button: #42be42;
  --color-button-hover: #28a428;

  /* Font Style */
  --font-poppins: "Poppins", sans-serif;
  --font-md: 500;
  --font-bd: 600;
  --font-sb: 700;
  --font-b: 800;

  --font-title: min(2.5rem, 7vw);
  --text-title: uppercase;

  --font-title-secondary: min(1.5rem, 2vw);
  --font-title-tertiary: min(1.25rem, 3vw);
}

/* Classes de uso geral */

.globalButton {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 4px;
  color: var(--color-primary);
  font-weight: var(--font-bd);
  text-transform: var(--text-title);
  background-color: #ffa500;
  margin-right: 20px;
}

.container {
  padding: 40px;
  gap: 20px;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  text-transform: var(--text-title);
  font-size: var(--font-title);
}

.title-secondary {
  font-size: var(--font-title-secondary);
  text-transform: var(--text-title);
}

.title-tertiary {
  font-size: var(--font-title-tertiary);
  text-transform: uppercase;
  font-weight: var(--font-md);
}

.grid-layout {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  gap: 20px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-content-inside {
  background-color: var(--color-tertiary);
  padding: 20px;
  width: 350px;
  height: 200px;
  flex-direction: column;
  text-align: center;
  border-radius: 26px;
}

.icon {
  width: 100px;
  margin: 0 auto;
}
