/* Variáveis */

:root {
  /* Color Style */
  --color-primary: #fff;
  --color-secondary: #000;
  --color-tertiary: #ddd;
  --color-purple: #9400d3;
  --color-button: #21a321;
  --color-button-hover: #138013;

  /* Font Style */
  --font-poppins: "Poppins", sans-serif;
  --font-md: 500;
  --font-bd: 600;
  --font-sb: 700;
  --font-b: 800;

  --font-title: min(2.5rem, 6vw);
  --text-title: uppercase;

  --font-title-secondary: min(1.5rem, 5vw);
  --font-title-tertiary: min(1.25rem, 4vw);
}

/* Classes de uso geral */

.globalButton {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 8px;
  color: var(--color-primary);
  font-weight: var(--font-bd);
  text-transform: var(--text-title);
  background-color: #ff5e00;
  margin: 20px;
  transition: 1s;
}

.globalButton:hover {
  background-color: #ff7300bb;
}

p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

strong {
  font-weight: 800;
}

.container {
  padding: 60px 40px;
  gap: 20px;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  text-transform: var(--text-title);
  font-size: var(--font-title);
  text-align: center;
}

.title-secondary {
  font-size: var(--font-title-secondary);
  text-transform: var(--text-title);
  text-align: center;
}

.title-tertiary {
  font-size: var(--font-title-tertiary);
  text-transform: uppercase;
  font-weight: var(--font-md);
  text-align: center;
}

.grid-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  place-items: center;
  gap: 20px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-content-inside {
  background-color: var(--color-tertiary);
  padding: 20px;
  width: 100%;
  min-width: 280px;
  max-width: 350px;
  height: 300px;
  text-align: center;
  border-radius: 26px;
  gap: 20px;
  flex-direction: column;
}

.icon {
  width: 100px;
  margin: 0 auto;
}
