/* Header */

.headerContent {
  display: flex;
  width: 100%;
}

.infoContent {
  width: inherit;
  height: inherit;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
}

.infoContent__logo img {
  width: 300px;
}

.infoContent__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.infoContent__menu a {
  color: var(--color-secondary);
  font-weight: 400;
  padding: 8px;
  border-radius: 4px;
  font-size: min(1.25rem, 3vw);
  font-family: var(--font-poppins);
  font-weight: var(--font-md);
}

.infoContent__menu a:hover {
  transition: 1.5s;
  background-color: #ddd;
}

#buttonLink {
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: var(--font-bd);
  color: var(--color-primary);
  background-color: var(--color-button);
}

#buttonLink:hover {
  background-color: var(--color-button-hover);
}
