/* main */

.bannerContent img {
  width: 100%;
}

.aboutContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.aboutContent__image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.aboutContent__text {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: justify;
  background-color: #eee;
  border-radius: 10px;
}

.aboutPilars {
  height: 100%;
  min-height: 600px;
  background-color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.aboutPilars h2 {
  color: var(--color-primary);
  align-self: flex-start;
}

.aboutPilars--card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: #009000;
  border-radius: 26px;
}

.aboutPilars--card:nth-of-type(2) {
  background-color: #ffae00;
  border-radius: 26px;
}

.aboutPilars--card:last-of-type {
  background-color: #0000ff;
  border-radius: 26px;
}

.aboutPilars--card h3 {
  color: var(--color-primary);
}

.aboutPilars--card p {
  color: var(--color-primary);
  text-align: justify;
}

.aboutPrinciples--card {
  flex-direction: column;
  padding: 40px;
  height: 300px;
  border-radius: 26px;
  text-align: center;
  color: var(--color-secondary);
}

.aboutPrinciples--card:nth-of-type(1) {
  background-color: #ff6c0d;
}

.aboutPrinciples--card:nth-of-type(2) {
  background-color: #d59c4e;
}

.aboutPrinciples--card:nth-of-type(3) {
  background-color: #00b6e4;
}

.aboutPrinciples--card:nth-of-type(4) {
  background-color: #ffce00;
}

.aboutPrinciples--card:nth-of-type(5) {
  background-color: #ff4432;
}

.aboutPrinciples--card:nth-of-type(6) {
  background-color: #00aba0;
}

.aboutWorks {
  background-color: var(--color-purple);
  display: flex;
  flex-direction: column;
}

.aboutWorks__intro,
.aboutWorks__modalities,
.Modalities--academic,
.aboutDonate,
.aboutCite {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutWorks__modalities .title {
  align-self: center;
  font-weight: var(--font-b);
}

.aboutCite {
  align-items: center;
  justify-content: center;
  min-height: 450px;
  background-color: orange;
}

.aboutCite__info {
  width: 80ch;
  padding: 20px;
  text-align: justify;
}
