/* Responsividade */

@media (max-width: 600px) {
	header section.infoContent {
		flex-direction: column;
		gap: 2rem;
	}

	picture.infoContent__logo {
		width: 30%;
	}

	nav.infoContent__menu {
		width: 100%;
	}

	.container {
		padding: 0;
	}
}
