/* Responsividade */

@media (max-width: 768px) {
  /* header section.infoContent {
		flex-direction: column;
		gap: 2rem;
	}

	picture.infoContent__logo {
		width: 30%;
	}

	nav.infoContent__menu {
		width: 100%;
	}

	.container {
		padding: 0;
	} */
  .headerContent {
    display: none;
  }
  .card-content {
    flex-direction: column;
  }
  .container {
    padding: 20px 10px;
  }

  .aboutContent__image img {
    height: 250px;
  }

  .aboutCite__info {
    width: initial;
    padding: 20px;
  }
}
