/* Responsividade */

@media (max-width: 1280px) {
  .aboutDonate {
    transform-style: none;
  }

  .aboutDonate h2 {
    align-self: flex-start;
  }

  .cards--donates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 0;
  }

  .card--donate {
    margin: 0;
    position: initial;
    transition: none;
    margin-top: 15px;
  }

  .card--donate:first-of-type {
    margin: 0;
  }

  /* Stage 4 */
  #item-1:checked ~ .cards--donates #help-4,
  #item-1:checked ~ .cards--donates #help-3,
  #item-2:checked ~ .cards--donates #help-5,
  #item-2:checked ~ .cards--donates #help-4,
  #item-3:checked ~ .cards--donates #help-1,
  #item-3:checked ~ .cards--donates #help-5,
  #item-4:checked ~ .cards--donates #help-1,
  #item-4:checked ~ .cards--donates #help-2,
  #item-5:checked ~ .cards--donates #help-2,
  #item-5:checked ~ .cards--donates #help-3 {
    visibility: initial;
  }

  /* Stage 3 */
  #item-1:checked ~ .cards--donates #help-5,
  #item-2:checked ~ .cards--donates #help-1,
  #item-3:checked ~ .cards--donates #help-2,
  #item-4:checked ~ .cards--donates #help-3,
  #item-5:checked ~ .cards--donates #help-4 {
    transform: none;
    opacity: 1;
    z-index: 1;
  }

  /* Stage 2 */
  #item-1:checked ~ .cards--donates #help-2,
  #item-2:checked ~ .cards--donates #help-3,
  #item-3:checked ~ .cards--donates #help-4,
  #item-4:checked ~ .cards--donates #help-5,
  #item-5:checked ~ .cards--donates #help-1 {
    transform: none;
    opacity: 1;
    z-index: 1;
  }

  /* Stage 1 */
  #item-1:checked ~ .cards--donates #help-1,
  #item-2:checked ~ .cards--donates #help-2,
  #item-3:checked ~ .cards--donates #help-3,
  #item-4:checked ~ .cards--donates #help-4,
  #item-5:checked ~ .cards--donates #help-5 {
    transform: none;
    opacity: 1;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .headerContent {
    height: 125px;
  }
  .infoContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: initial;
    padding: 10px 0;
    gap: 20px;
  }
  .infoContent__logo {
    width: 40px;
  }
  .infoContent__menu ul {
    gap: 8px;
  }
  .infoContent__menu a {
    font-weight: 800;
  }

  .bannerContent img {
    height: 250px;
  }

  .aboutContent {
    grid-template-columns: 1fr;
  }
  .card-content {
    flex-direction: column;
  }
  .container {
    padding: 20px 10px;
  }

  .aboutContent__image img {
    height: 250px;
  }

  .aboutCite {
    background-image: url("./../../img/Mobile/citemobile.avif");
  }

  .aboutCite__info {
    width: initial;
    padding: 20px;
  }
  .aboutEnd {
    text-align: center;
  }
}
