/* Layout: Seções das páginas e partes especificas */

header {
	width: 100%;
}

header section.infoContent {
	width: 100%;
	padding: 12px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

picture.infoContent__logo {
	width: 40%;
}

nav.infoContent__menu {
	width: 45%;
	height: min-content;
}

nav.infoContent__menu ul {
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

nav.infoContent__menu a {
	color: var(--color-secondary);
	font-weight: 400;
	font-size: min(1rem, 2vw);
}

nav.infoContent__menu a:hover {
	text-decoration: underline;
}

nav.infoContent__menu a#buttonLink {
	padding: 8px;
	border-radius: 12px;
	font-weight: 600;
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

header img.bannerContent {
	width: 100%;
}

article.aboutContent {
	width: 100%;
	padding: 12px 24px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

article.aboutContent picture img {
	object-fit: cover;
	object-position: center;
}
